@font-face {
    font-family: Helvetica Neue;
    src: url("../fonts/HelveticaNeueLTStd%20Lt.otf");
}

@font-face {
    font-family: Champagne;
    src: url("../fonts/Champagne%20&%20Limousines.ttf");
}

@font-face {
    font-family: Linux;
    src: url("../fonts/LinLibertine_R.ttf");
}

@font-face {
    font-family: Apple;
    src: url("../fonts/AppleGaramond.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background: url("../images/background2.jpg");
    background-size: cover;
    font-size: 35px;
    font-family: 'Champagne';
}
body div#container {
    min-height: 100%;
}

body div#container header {
    text-align: center;
    color: white;
}

body div#container header div#logo a#logo-img {
    display: block;
    height: 200px;
    width: 200px;
    background-image: url("../images/logo4.png");
    text-indent: -9999px;
    margin: 20px auto;
}

body div#container header div#logo a#logo-img:hover {
    background-image: url("../images/logo4hover.png");
}

body div#container header div#logo a#logo-img:active {
    background-image: url("../images/logo4active.png");
}

body div#container header section#links {
    margin-top: 20px;
    margin-bottom: 20px;
}

body div#container header section#links a {
    margin: 5px;
}

body div#container header section#links a,
body div#container header div#signBox a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

body div#container header div#signBox {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: 'Apple';
}

body div#container header section#links a:hover,
body div#container header div#mainMenu ul li:hover,
body div#container header div#signBox a:hover,
body div#container main#mainContent div#albums div.albums-list h3:hover {
    text-decoration: none;
    color: #f0871f;
    cursor: pointer;
    border-radius: 20px;
}

body div#container header section#links a:active,
body div#container header div#mainMenu ul li:active,
body div#container header div#signBox a:active,
body div#container main#mainContent div#albums div.albums-list h3:active {
    color: #b95f20;
}

body div#container header div#mainMenu ul {
    list-style-type: none;
    padding: 0;
}

body div#container header div#mainMenu ul li {
    width: 5%;
    padding: 5px;
    margin: 0 auto;
}

body div#container header div#mainMenu ul li a {
    text-decoration: none;
    color: white;
}

body div#container header div#loginBox form {
    margin-top: 20px;
    margin-bottom: 20px;
}

body div#container header div#loginBox form input,
body div#container header div#searchBox input {
    padding: 5px;
    color: black;
}

body div#container header div#searchBox img {
    width: 30px;
    margin: 5px;
    vertical-align: middle;
}

body div#container header div#searchBox button#search-button {
    background: url("../images/search.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}

body div#container header div#searchBox button#search-button:hover {
    background: url("../images/search-hover.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    vertical-align: middle;
    cursor: pointer;
}

body div#container header div#searchBox button#search-button:active {
    background: url("../images/search-clicked.png");
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    vertical-align: middle;
}

body div#container main#mainContent {
    text-align: center;
    color: white;
    width: 60%;
    margin: 2% auto;
}

body div#container main#mainContent div#galleryContainer {
    max-width: 80%;
}

body div#container main#mainContent div#galleryContainer h2,
body div#container main#mainContent div#picture-by-album section.comments h3{
    font-family: 'Lora', serif;
    font-style: italic;
}

body div#container main#mainContent div#galleryContainer div:hover {
    background: rgba(255, 255, 255, 0.11);
}

body div#container main#mainContent div#galleryContainer div span {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7em;
    color: #f0871f;
}

body div#container main#mainContent div#albums div.albums-list h3 {
    font-family: 'Apple', serif;
    font-style: italic;
    font-size: 0.9em;
    cursor: pointer;
}

body div#container main#mainContent input,
body div#container main#mainContent button,
body div#container main#mainContent div#createAlbumContainer select#album-category,
select {
    color: black;
    padding: 5px;
    margin: 14px;
    vertical-align: middle;
}

body div#container main#mainContent div#login-box,
body div#container main#mainContent div#register-box {
    display: inline-block;
    width: 360px;
    max-width: 95%;
    vertical-align: top;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

body div#container main#mainContent div#login-box label,
body div#container main#mainContent div#register-box label {
    font-size: 0.5em;
}

body div#container main#mainContent div#login-box div input#login-username,
body div#container main#mainContent div#register-box div input#reg-username {
    background: white url("../images/user.png") left no-repeat;
    padding-left: 20px;
}

body div#container main#mainContent div#login-box div input#login-password,
body div#container main#mainContent div#register-box div input#reg-password,
body div#container main#mainContent div#register-box div input#repeat-password {
    background: white url("../images/password.png") left no-repeat;
    padding-left: 20px;
}

body div#container main#mainContent div#register-box div input#email {
    background: white url("../images/email.png") left no-repeat;
    padding-left: 20px;
}

body div#container main div#login-box:hover,
body div#container main div#register-box:hover {
    background: rgba(0, 0, 0, 0.16);
}

body div#container main#mainContent div#login-box h3,
body div#container main#mainContent div#login-box h4,
body div#container main#mainContent div#register-box h3,
body div#container main#mainContent div#register-box h4 {
    font-family: 'Lora', serif;
    font-style: italic;
}

body div#container header div#signBox p button#btn-logout {
    display: block;
    margin: 10px auto;
}

body div#container main#mainContent div#login-box button,
body div#container main#mainContent div#register-box button,
body div#container main#mainContent div#albums button,
body div#container main#mainContent div#createAlbumContainer button,
body div#container main#mainContent div#file-upload input#upload-button,
body div#container header div#signBox p button#btn-logout,
body div#container main#mainContent div#picture-by-album section.comments button,
#commentButton {
    padding: 8px;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #DC741F;
    font-weight: bold;
    font-family: "Linux";
    font-size: 0.8em;
}

body div#container main#mainContent  div#login-box button:hover,
body div#container main#mainContent  div#register-box button:hover,
body div#container main#mainContent div#albums button:hover,
body div#container main#mainContent div#createAlbumContainer button:hover,
body div#container main#mainContent div#file-upload input#upload-button:hover,
body div#container header div#signBox p button#btn-logout:hover,
body div#container main#mainContent div#picture-by-album section.comments button:hover,
#commentButton:hover {
    background-color: #f0871f;
}

body div#container main div#login-box button:active,
body div#container main div#register-box button:active,
body div#container main#mainContent div#albums button:active,
body div#container main#mainContent div#createAlbumContainer button:active,
body div#container main#mainContent div#file-upload input#upload-button:active,
body div#container header div#signBox p button#btn-logout:active,
body div#container main#mainContent div#picture-by-album section.comments button:active,
#commentButton:active {
    background-color: #b95f20;
}

body div#container main div#login-box div,
body div#container main div#register-box div,
body div#container main div#login-box button,
body div#container main div#register-box button{
    float: right;
    clear: both;
    margin-right: 50px;
}

body div#container main#mainContent div#file-upload input#file-select {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body div#container main#mainContent div#albums div.albums-list  img {
    max-width: 90%;
}

body div#container main#mainContent div#galleryContainer {
    margin: 10px auto;
    width: 825px;
    padding: 5px;
    border-radius: 10px;
}

#first-row, #second-row, #third-row, #fourth-row {
    margin: 0;
    margin-top: 2px;
    padding: 0;
}

body div#container main div#galleryContainer div#first-row a {
    display: inline-block;
    width: 203px;
    height: 114px;
    background-image: url("http://fc00.deviantart.net/fs70/i/2010/332/2/3/bokeh_16_9_wallpaper_by_zeiphex-d33sn2y.jpg");
    background-size: contain;
}

body div#container main div#galleryContainer div#second-row a {
    display: inline-block;
    width: 114px;
    height: 64px;
    background-image: url("http://www.yahee.net/wp-content/uploads/2014/01/Full-Hd-Duvarka%C4%9F%C4%B1tlar%C4%B1-1-305.jpg");
    background-size: contain;
}

body div#container main div#galleryContainer div#third-row a {
    display: inline-block;
    width: 272px;
    height: 153px;
    background-image: url("http://www.100hdwallpapers.com/wallpapers/1920x1080/dark_game_scene-hd_wallpapers.jpg");
    background-size: contain;
}

body div#container main div#galleryContainer div#fourth-row a {
    display: inline-block;
    width: 161px;
    height: 91px;
    background-image: url("http://squadracorse-polito.com/downloads/wallpapers/16-9/Hybrid%20Win%20USA%2016-9.jpg");
    background-size: contain;
}

footer {
    background: url("../images/footer.jpg");
    height: 50px;
    background-size: contain;
    width: 100%;
    clear: both;
}

body div#signBox > a {
    color: white;
}

.thumbnail-container {
    display: inline-block;
    width: 260px;
    height: 200px;
    margin: 1% 0.5%;
    vertical-align: middle;
    text-align: center;
    white-space: normal;
    background-color: black;
    box-shadow: 0 0 4px rgba(0,0,0,.8);
}

.thumbnail {
    min-height: 100%;
    max-height: 200px;
    max-width: 100%;
}

@media (max-width: 475px) {
    body div#container header section#links a {
        display: block;
    }
}

/*Vote buttons*/
.voteButtons {
    display: inline-block;
    padding: 10px 15px;
}

#btn-like-album {
    background: #56d27f;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

#btn-like-album:hover {
    background: #60f699;
}

#btn-like-album:active {
    background: #4faf63;
}

#btn-dislike-album {
    background: #b50600;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

#btn-dislike-album:hover {
    background: #d70600;
}

#btn-dislike-album:active {
    background: #9c0600;
}

.voteButtons:hover {
    cursor: pointer;
}

.album-comments {
    max-width: 70%;
    min-width: 70%;
    display: block;
    margin: 0 auto;
    padding: .5% 1%;
}

.album-comments-title {
    margin: 2% 0 1% 0;
}

.add-album-comment-area {
    min-width: 60%;
    max-width: 60%;
    max-height: 55px;
    min-height: 55px;
    margin: 0 auto;
    display: block;
    padding: 1%;
}