<header>
    <div id="logo">
        <a href="#/" id="logo-img"></a>
    </div>
    <div id="signBox" class="signPanel">
        <p>Welcome, {{username}} <button id="btn-logout">Log out</button></p>
    </div>
    <section id="links">
        <a href="#/Latest">Latest</a>
        <a href="#/Albums">Albums</a>
        <a href="#/Upload">Upload</a>
        <a href="#/Categories">Categories</a>
    </section>
    <div id="searchBox">
        <input type="search" id="search" placeholder="Search..."/>
        <button id="search-button"></button>
    </div>
</header>