<div id="picture-by-album">
    {{#results}}
    <div class="thumbnail-container">
        <a href="{{picture.url}}" data-lightbox="image-1" data-title='{{title}}'><img class="thumbnail" src="{{picture.url}}" alt=""/></a>
    </div>
    {{/results}}
    <section class="comments"></section>
</div>


<!--<div id="picture-by-album">-->
    <!--{{#results}}-->
    <!--<div class="thumbnail-container">-->
        <!--<a href="{{picture.url}}" data-lightbox="image-1" data-title='{{title}}' ><img class="thumbnail" src="{{picture.url}}" alt=""/></a>-->
    <!--</div>-->
    <!--{{/results}}-->
    <!--<section class="comments">-->
        <!--<h3 class="album-comments-title">Comments</h3>-->
        <!--<ul class="album-comments">-->
            <!--<li class="album-comments"></li>-->
        <!--</ul>-->
        <!--<textarea class="add-album-comments-area"></textarea>-->
        <!--<button id="btn-add-album-comments">Post Comment</button>-->
    <!--</section>-->
<!--</div>-->