<div id="register-box">
<h3>Register</h3>
<div>
    <label for="reg-username">Username:</label>
    <input type="text" id="reg-username"/>
</div>
<div>
    <label for="email">Email:</label>
    <input type="email" id="email"/>
</div>
<div>
    <label for="reg-password">Password:</label>
    <input type="password" id="reg-password"/>
</div>
<div>
    <label for="repeat-password">Repeat:</label>
    <input type="password" id="repeat-password"/>
</div>
<button id="reg-button">Register</button>
</div>