{{#results}}
<!-- posts page -->
<article class="post well">
    <header class="post-header">
        <div class="post-image">
            <img class="mini-thumbnail" src="{{picture}}"/>
        </div>
        <div class="post-info">
            <p><a href="#" class="profile-link" data-user-id="{{id}}">{{createdBy}}</a> made a post</p>
            <p>on <time>{{createdAt}}</time></p>
        </div>
    </header>
    <section class="post-content">
        <p>{{content}}</p>
    </section>
</article>
<!-- end of posts page -->
{{/results}}